<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Arena page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- W3.CSS link -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="../Contents/Content.css" rel="stylesheet" />
</head>
<body>
    <ul class="navbar-customized bg-danger">
        <li><a href="#"><b>Little Ceasar Arena</b></a></li>
        <li><a href="/Views/Arena.html">Arena Page</a></li>
        <li><a href="/Views/Events.html">Events Page</a></li>
        <li><a href="/Views/Tickets.html">Tickets Page</a></li>
    </ul>
    <div class="container">
        <h1 class="text-warning"> Arena Page</h1>
        <div>
            <h3>Little Caesars Arena</h3>
            <hr />
        </div>
        <div>
            <b>Arena capacity:</b>

            Ice hockey: 19,515
            Basketball: 20,332
            Concerts: 15,000–22,000
        </div>
        <div>
            <b>Arena concessions:</b> Sales of game tickets, parking, concessions, souvenirs,
            and any potential naming rights deals would not be subject to revenue sharing with the City of Detroit as they were with Joe Louis Arena.
        </div>
        <div>Seating categories: First-class, Middle-class, Regular</div>
        <div>

            <b>Arena history including year built:</b>
            Little Caesars Arena is a multi-purpose arena in Midtown Detroit. Construction began on April 24, 2015, following a formal groundbreaking ceremony on September 25, 2014. Opened on September 5, 2017, the arena, which cost $862.9 million to construct, replaced Joe Louis Arena and The Palace of Auburn Hills as the homes of the Detroit Red Wings of the National Hockey League (NHL) and the Detroit Pistons of the National Basketball Association (NBA), respectively.
        </div>
        <div>Arena location shown on a map image:</div>
        <img src="\Images\Arena\arena-little-caesars-01.jpg" />
        <div>
            Arena image
        </div>
    </div>
    <div class="footer bg-info">
        <div class="row">
            <div class="col-md-4">
                <h3>
                    Arena Name: Little Ceasar Arena
                </h3>
            </div>
            <div class="col-md-4">
                <div><b>Arena Address:</b> 2645 Woodward Ave, Detroit, MI 48201</div>
                <div><b>Arena Telphone:</b> (313) 471-7000</div>
                <div><b>Email Address:</b>  info@littleceasararena.com</div>
            </div>
            <div class="col-md-4">
                <p>© 2021 - Little Ceasar Arena</p>
            </div>
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>