/*====================================================================

 Title: AJAX Web Sites
 Description:
   This CSS page provides AJAX external styles.

====================================================================*/ 

/*====================================================================
 Body
====================================================================*/ 
body
{
  font-family:verdana;
  font-size:30px;
  font-weight:bold;
}

/*====================================================================
 Button
====================================================================*/ 
button
{
  font-size:32px;
  font-weight:bold;
  padding:12px;
}

/*====================================================================
 Fieldset
====================================================================*/ 
fieldset
{
  background-color:lightgray; 
  margin:20px;
  padding:20px;
}

/*====================================================================
 Headings
====================================================================*/ 
h1, h2, h3
{
  color:black;
  text-align:center;
}

/*====================================================================
 Input
====================================================================*/ 
input
{
  font-size:32px;
  font-weight:bold;
  padding:16px;
  width:98%;
}

/*====================================================================
 Label
====================================================================*/ 
label
{
  font-size:32px;
  font-weight:bold;
  display:inline-block;
  width:98%;
}
label.output
{
  background-color:white;
  padding:16px;
  width:98%;
}

/*====================================================================
 Textarea
====================================================================*/ 
textarea
{
  font-size:32px;
  font-weight:bold;
  padding:16px;
  width:98%;
}
